venv/
__pycache__/
*.pyc

# Data Files (Too large for GitHub)
*.csv
*.edf
*.gdf
*.bdf
*.npz
*.pkl
*.pth

# Directories
mne_data/
processed_data/
processed_data_3_class/
models/
runs/
EEGnet/runs/

# Generated Plots (Ignore by default to avoid pollution)
*.png
